<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    </head>
    <body>
        <div>
            <div class="container">
                <div class="navbar well">Hi @User.Identity.Name
                    <p>Hoffentlich finsch was du suechsch!</p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div>
                            @using (Html.BeginForm("signout", "account"))
                            {
                                <input class="btn btn-danger" type="submit" value="Quit that shit" />
                            }
                        </div>
                    }
                </div>
            </div>
        </div>

        <div id="content" class="container">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Less More</p>
            </footer>
        </div>

        @RenderSection("scripts", required: false)

    </body>
</html>